/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/*UTILITIES*/

.blue-button{
    padding: 5px 10px;
    background-color: #0061FF;
    color: white;
}

h1{
    font-size: 65px;
}



/*HEADER*/

header{
    height: 65px;
    box-shadow: 0px 0px 4px 0px grey;
    position: fixed;
    width: 100%;
    background-color: white;
}

nav, .nav-right ul, .nav-left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav-right ul li:not(:last-child), .nav-left ul li{
    padding: 20px 20px;
    font-size: 13px;
    font-weight: 600;
}

nav ul{
    list-style: none;
}

nav ul li a{
    color: black;
}

.nav-right li:last-child a{
    color: white;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
}

.nav-right li:last-child{
    margin-left: 20px;
}

/*JUMBOTRON*/

.jumbotron{
    padding-top: 100px;
    width: 100%;
    min-height: 630px;
    background-color:#B4D0E7;
}

.container-jumbo{
    width: 90%;
    margin: 0 auto;
}

.jumbo-section{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 13px;
}

.caption-jumbo{
    width: 25%;
}

.caption-jumbo a, .caption-jumbo span{
    display: block;
}

.caption-jumbo a{
    text-align: center;
    margin: 20px 40px 20px 0;
}

.image-jumbo img{
    width: 100%;
    object-fit: contain;
    min-width: 600px;
    max-width: 900px;
}

.image-jumbo{
    width: 70%;
    height: 300px;
    z-index: 1;
}

/*MAIN*/

